.loading-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  
  .loading-image {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  
  .loading-content {
    padding: 10px;
  }
  
  .loading-line {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5px 0;
  }
  