.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  border-radius: 5px;
  
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex: 1;
}

.filter:last-child {
  margin-right: 0;
}

.filter label {
  margin-bottom: 5px;
  font-weight: bold;
}

.filter select {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}
